@CHARSET "UTF-8";

body {
    padding-left: 10px;
    font-size: 14px;
    background-image: url(../img/bgb.png);
    font-family: monospace, 'Courier New', Courier
}

.region {
    width: 430px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #777;
    text-align: center;
    padding: 5px 5px;
    margin-top: 10px;
    margin-bottom: 1px;
    background-image: url(../img/bg2.jpg);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: -1px -1px 1px #666 inset;
    -moz-box-shadow: -1px -1px 1px #666 inset;
    -webkit-box-shadow: -1px -1px 1px #666 inset;
}

table {
    width: 440px;
    background-color: #FFFFEA;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: -1px -1px 1px #999 inset;
    -moz-box-shadow: -1px -1px 1px #999 inset;
    -webkit-box-shadow: -1px -1px 1px #999 inset;
    background-image: url(../img/bg.jpg);
}

th {
    text-align: left;
}

td {
    text-align: left;
    padding: 2px 2px;
}

.odd {
    color: #003300;
}

.even {
    color: #330000;
}

.note {
    width: 430px;
    padding: 3px 5px;
    margin-top: 5px;
    background-image: url(../img/bg2.jpg);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: -1px -1px 1px #666 inset;
    -moz-box-shadow: -1px -1px 1px #666 inset;
    -webkit-box-shadow: -1px -1px 1px #666 inset;
}
