@CHARSET "UTF-8";
/**
 * Created with JetBrains WebStorm.
 * User: Ken
 * Date: 24/06/13
 * Time: 21:20
 * Copyright ©2013 Kenshin Yang.
 */

#content h1 {
    text-align: left;
    color: #000;
    font-size: 28px;
    font-family: KaiTi, fantasy;
    margin: 2px;
    background: #ccc;
    box-shadow: 1px 1px 1px #333;
}

#content h2 {
    text-align: left;
    color: #000;
    font-size: 15px;
}

#content {
    color: #000;
    font-size: 13px;
    padding: 5px;
    width: 270px;
    height: 170px;
    position: absolute;
    overflow: hidden;
    display: none;
    background: #fff;
    border: 3px solid #ccc;
    border-top-width: 24px;
    box-shadow: 2px 2px 2px #333;
    outline: none;
}

#content p {
    color: #000;
    font-size: 13px;
    margin: 1px;
    text-indent: 0;
}

#content strong {
    color: #000;
    font-size: 13px;
    line-height: 27px;
}

#content .dichr {
    color: #000;
    font-size: 13px;
    margin: 0;
}